<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Nepre-Introduction</title>
    {% load staticfiles %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="{% static "./4/flatly/bootstrap.css" %}" media="screen">
    <link rel="stylesheet" href="{% static "./_assets/css/custom.min.css" %}">
    <script>

     var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-23019901-1']);
      _gaq.push(['_setDomainName', "bootswatch.com"]);
        _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);

     (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();

    </script>
  </head>
  <body>
    <div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
      <div class="container">
        <a href="/index/" class="navbar-brand">Nepre</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/index/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/introduction/">Introduction</a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" href="/help/">Method</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/psp/">Protein Structure Predict</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/AminoAcidDistribution/">Amino Acid Distribution</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/checkResults/">History</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/download/">Download</a>
            </li>
          </ul>

        </div>
      </div>
    </div>
    <div class="page-header" id="banner" style = "margin-left: 80px">
        <div class="row">
          <div class="col-lg-8 col-md-7 col-sm-6">
            <h1>Download</h1>
          </div>
        </div>
    </div>
    <div style = "margin-left:80px; margin-top:40px; margin-right:80px">
      <h4 style = "color:cornflowerblue">Offline System</h4>
      <hr></hr>
    </div>
    <div style = "margin-left:80px; margin-top:40px; margin-right:100px">
        <p>
            Online system only provide basic function for protein structure prediction. So we established 
            an offline software for users to complete personalized tasks. The offline system is writeen by
            using <b>Python2.7</b> and GUI is build by using <b>PYQT4</b>. 
            The <b>Nepre.exe</b> has included all packages it need.
        </p>
        <p>Extended functions are as follows,</p>
            <p>
              1. Users can use their own PDB dataset to get statistical distribution of amino acid and generate energy matrix.
            </p>
            <p>
              2. Offline system provide some analyzing tools for users to get detailed information.
            </p>
            <p>
              3. Offline system can provide a stable calculation tool for large workload.
            </p>
        
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <button type="button" class="btn btn-success">Select Download File</button>
            <div class="btn-group" role="group">
              <button id="btnGroupDrop2" type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
              <div style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 37px, 0px);" x-placement="bottom-start" class="dropdown-menu" aria-labelledby="btnGroupDrop2">
                <a class="dropdown-item" href="{% static "./download/Nepre.exe" %}">Click to download Nepre.exe</a>
                <a class="dropdown-item" href="{% static "./download/sourcecode.zip" %}">Click to download source code</a>
              </div>
            </div>
          </div>
              
    </div>

    <div style = "margin-left:80px; margin-top:40px; margin-right:80px">
        <h4 style = "color:cornflowerblue">Publications</h4>
        <hr></hr>
    </div>
    <div style = "margin-left:80px; margin-top:40px; margin-right:100px">
        <p>
           Click to download related publications. 
        </p>
    </div>

    <div style = "margin-left:80px; margin-top:40px; margin-right:80px">
        <h4 style = "color:cornflowerblue">Features of SMBPSP</h4>
        <hr></hr>
    </div>


      


      


<script src="{% static "./_vendor/jquery/dist/jquery.min.js" %}"></script>
<script src="{% static "./_vendor/popper.js/dist/umd/popper.min.js" %}"></script>
<script src="{% static "./_vendor/bootstrap/dist/js/bootstrap.min.js" %}"></script>
<script src="{% static "./_assets/js/custom.js" %}"></script>


<div class="text" style=" text-align:center;">Building 9, East Zone, ZPark II, No.10 East Xibeiwang Road, Haidian District, Beijing 100193, China</div>
<div class="text" style=" text-align:center;">Department of Complex System</div>
<div class="text" style=" text-align:center;">Email: nepre2018@163.com</div>
</body>

</html>

