<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Nepre-PSP</title>
    {% load staticfiles %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="{% static "./4/flatly/bootstrap.css" %}" media="screen">
    <link rel="stylesheet" href="{% static "./_assets/css/custom.min.css" %}">
    <script>

     var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-23019901-1']);
      _gaq.push(['_setDomainName', "bootswatch.com"]);
        _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);

     (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();

    </script>
  </head>
  <body>
    <div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
      <div class="container">
        <a href="/index/" class="navbar-brand">Nepre</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/introduction/">Introduction</a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" href="/method/">Method</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/psp/">Protein Structure Predict</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/AminoAcidDistribution/">Amino Acid Distribution</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/checkResults/">History</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/download/">Download</a>
            </li>
          </ul>

        </div>
      </div>
    </div>
    <div class="page-header" id="banner" style = "margin-left: 80px">
        <div class="row">
          <div class="col-lg-8 col-md-7 col-sm-6">
            <h1>Protein Sturcture Assessment</h1>
          </div>
        </div>
    </div>

    <div style = "margin-left:80px; margin-top:40px; margin-right:80px">
        <h4 style = "color:cornflowerblue">Notes</h4>
        <hr></hr>
    </div>
    <div style = "margin-left:120px; margin-top:40px; margin-right:120px">
      <div>
          <p>
              <b>Job ID</b>
          </p>
          <p>
              Each job will has an id. You need to use the job id to check the results.    
          </p>
      </div>
      <div style = "margin-top:40px;">
          <p>
              <b>Upload File Format</b>
          </p>
          <p class="text-danger">
              You should compress the decoy strutures to an <b>zip</b> file and then upload.
          </p>
      </div>  
   </div>

   <div style = "margin-left:80px; margin-top:40px; margin-right:80px">
      <h4 style = "color:cornflowerblue">Nepre-R</h4>
      <hr></hr>
   </div>
   <div style = "margin-left: 120px; margin-right: 120px;margin-top:40px;text-align: justify">
        <p>
            Nepre-R uses the sum of the radius as the distance cutoff. Only pair with distance lower than
            cutoff will be regarded as the effective pair. The following figure shows the maximum distance
            of amino acid pair. Go to <a href="https://github.com/TangYuan-Liu/Nepre/tree/master/Radius">Radius
            Value</a> to see the detailed information.
        </p>
        <div style = "text-align: center">
            <img src="{% static "./origin_pics/fig8.png"%}" width="30%" height="30%"></img>
        </div>

        <form action="/pspResults/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset>
              <div class="form-group">
                <label for="exampleInputFile">File input</label>
                <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp" name = "NRup_file">
                <small id="NRfileHelp" class="form-text text-muted">Please upload a zip file.</small>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </fieldset>
        </form>
   </div>


   <div style = "margin-left:80px; margin-top:40px; margin-right:80px">
      <h4 style = "color:cornflowerblue">Nepre-F</h4>
      <hr></hr>
   </div>
   <div style = "margin-left: 120px; margin-right: 120px;margin-top:40px;text-align: justify">
        <p>
            Nepre-F use a more universal value as cutoff. Experiment shows that Nepre-F gets best
            recognition setting cutoff to <b>6 angstrom</b> from <b>4-10 angstrom</b>. It is also significant
            to analyze the <b>Pearson Coefficient</b> between <b>Nepre-F potential energy</b> and <b>RMSD</b>.
            The following figure shows the same conclusion in the view of pearson coefficient as well. 
        </p>
        <div style = "text-align: center">
            <img src="{% static "./origin_pics/fig5.png"%}" width="70%" height="70%"></img>
        </div>

        <form action="/pspResults/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset>
              <div class="form-group">
                <div>
                    <label for="exampleInputFile">File input</label>
                    <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp" name = "NFup_file">
                    <small id="NFfileHelp" class="form-text text-muted">Please upload a zip file.</small>
                </div>
                <div style="margin-top:10px">
                    <label for="exampleSelect1">Cutoff Select</label>
                    <select class="form-control col-sm-1" id="exampleSelect1">
                      <option>4</option>
                      <option>5</option>
                      <option>6</option>
                      <option>7</option>
                      <option>8</option>
                      <option>9</option>
                      <option>10</option>
                  </select>
                </div>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>

            </fieldset>
        </form>
   </div>


    

<script src="{% static "./_vendor/jquery/dist/jquery.min.js" %}"></script>
<script src="{% static "./_vendor/popper.js/dist/umd/popper.min.js" %}"></script>
<script src="{% static "./_vendor/bootstrap/dist/js/bootstrap.min.js" %}"></script>
<script src="{% static "./_assets/js/custom.js" %}"></script>


<div class="text" style=" text-align:center;">Building 9, East Zone, ZPark II, No.10 East Xibeiwang Road, Haidian District, Beijing 100193, China</div>
<div class="text" style=" text-align:center;">Department of Complex System</div>
<div class="text" style=" text-align:center;">Email: nepre2018@163.com</div>
</body>

</html>

